.section__articles-subtitle-regular {
    font-weight: 400;
}

.section__articles-description {
    color: var(--text-color-p, #F1B2CE);
    font-size: var(--font-size, 1.125rem);
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: 0;
}

.section__article-link {
    text-shadow: 2px 2px 2px var(--accent-color, #FF0070);
    color: var(--text-color-p, #F1B2CE);
    text-decoration: none;
}

.section__article-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-color-p, #F1B2CE);
}

.section__article-link:focus {
    outline: none;
    border: 1px solid var(--text-color-p, #F1B2CE);
}

.section__article-link:focus-visible {
    outline: none;
    padding: 0 4px;
    border: 1px solid var(--text-color-p, #F1B2CE);
}

.section__articles-title {
    font-size: var(--font-size, 1.125rem);
    font-weight: 700;
    line-height: 23.4px;
    color: var(--text-color-dark, #000028);
}

.section__articles-title-margin {
    margin-block-start: 50px;
}

.section__articles-subtitle {
    font-size: var(--font-size, 1.125rem);
    line-height: 23.4px;
    margin-block-end: 10px;
    margin-block-start: 20px;
}

.section__articles-subtitle-margin-last {
    margin-block-start: 50px;
    margin-block-end: 10px;
}

.section__articles-subtitle-text {
    margin-block-end: 0;
}

