.section {
    margin-inline: 10px;
}

.section__articles-subtitle-regular {
    font-weight: 400;
}

.section__articles-description {
    color: var(--text-color-p, #F1B2CE);
    font-size: var(--font-size, 1.125rem);
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: 0;
}

.section__article-link {
    text-shadow: 2px 2px 2px var(--accent-color, #FF0070);
    color: var(--text-color-p, #F1B2CE);
    text-decoration: none;
}

.section__article-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-color-p, #F1B2CE);
}

.section__article-link:focus {
    outline: none;
    border: 1px solid var(--text-color-p, #F1B2CE);
}

.section__article-link:focus-visible {
    outline: none;
    padding: 0 4px;
    border: 1px solid var(--text-color-p, #F1B2CE);
}

.section__articles-title {
    font-size: var(--font-size, 1.125rem);
    font-weight: 700;
    line-height: 23.4px;
    color: var(--text-color-section, #000028);
}

.section__articles-title-margin {
    margin-block-start: 50px;
}

.section__articles-subtitle {
    font-size: var(--font-size, 1.125rem);
    line-height: 23.4px;
    margin-block-end: 10px;
    margin-block-start: 20px;
}

.section__articles-subtitle-margin-last {
    margin-block-start: 50px;
}

.section__articles-subtitle-text {
    margin-block-end: 0;
}

.section__articles-title-margin-first {
    margin-block-start: 0;
}

@media (width >=768px) {
    .section {
        margin-inline: 20px;
        margin-block-end: 20px;
    }
    .section__articles_why_hard_concentrate {
        display: grid;
        grid-template-columns: 14.75rem 1fr;
        gap: 20px;
    }
    .section__articles_how_concentrate_better {
        display: grid;
        grid-template-columns: 1fr 29.5rem;
        grid-template-rows: 0;
    }
    .section__articles_what_reduces_concentration {
        display: grid;
        grid-template-columns: 236px 1fr;
    }
    .section__articles-title {
        grid-column: 1;
    }
    .section__articles-list {
        grid-column: 2;
    }
    .section__articles-title {
    }
    .section__articles_what {
        grid-column: 1/3;
    }
    .section__articles-subtitle-text {
        grid-row: 1/3;
        grid-column: 2;
        margin-block-start: 0;
    }
    .section__articles {
        margin-block-end: 80px;
    }
    .section__articles-title-margin {
        margin-block-start: 0;
    }
    .section__articles-title-margin-first {
        margin-block-start: 20px;
    }
}

@media (width >= 1024px) {
    .main {
        display: grid;
        gap: 40px
    }

    .section {
        margin-inline: 20px;
        margin-block-end: 20px;
    }

    .section__articles_why_hard_concentrate {
        grid-template-columns: 314px 1fr 1fr;
    }

    .section__articles-list {
        display: grid;
        grid-column: 2/4;
        gap: 20px
    }

    .section__articles-what {
        gap: 20px;
    }

    .section__articles-item-concentrait .section__articles-item-gajet {
        margin-inline-end: 20px;
    }

    .section__articles_what_reduces_concentration {
        display: block;
    }

    .section__articles-title {
        grid-column: 1;
        grid-row: 1;
        min-block-size: 2.94rem;
    }

    .section__articles_how_concentrate_better {
        display: grid;
        column-gap: 20px;
        grid-template-columns: 314px 1fr 1fr;
    }

    .section__articles-item-concentrait {
        grid-column: 1;
        grid-row: 2/3;
        min-width: 41vh;
    }

    .section__articles-item-food {
        grid-column: 2;
        grid-row: 2/3;
        min-width: 41vh;
    }

    .section__articles-item-gajet {
        grid-column: 3;
        grid-row: 2/3;
        min-width: 41vh;
    }

    .section__articles-title-margin {
        margin-block-start: 20px;
    }

    .add_padding-margin {
        padding-inline-end: 630px;
    }

    .delete-gap_margin {
        margin-block-start: 0;
    }
    .section__articles-subtitle-text {
        grid-column: 2/4;
        margin-block-start: 20px;
    }
    .section__articles-subtitle-margin-last {
        margin-block-start: 20px;
        margin-block-end: 20px;
    }
}