.decorated-zone {
    position: relative;
}

.decorated-zone::before {
    border-inline-end: 1px solid var(--border-color, #ff0070);
    border-block-start: 1px solid var(--border-color, #ff0070);
    inset-inline-end: 0;
    inset-block-start: 0;
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
}

.decorated-zone::after {
    border-inline-start: 1px solid var(--border-color, #ff0070);
    border-block-end: 1px solid var(--border-color, #ff0070);
    inset-inline-start: 0;
    inset-block-end: 0;
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
}

.title-decor{
    color: var(--text-color-dark, #000028);
    background-color: var(--accent-color, #FF0070);
    font-size: var(--font-size, 1.125rem);
    line-height: 23.4px;
}

@media (width >=768px) {
    /*.decorated-zone::before {*/
    /*    border-inline-end: 1px solid var(--border-color, #ff0070);*/
    /*    border-block-start: 1px solid var(--border-color, #ff0070);*/
    /*    inset-inline-end: 0;*/
    /*    inset-block-start: 0;*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    inline-size: 25px;*/
    /*    block-size: 25px;*/
    /*}*/

    .decorated-zone::after {
        inset-inline-start: 20px;
    }
}
