.decorated-zone {
    position: relative;
    min-block-size: 97vh;
}

.decorated-zone::before {
    border-inline-end: 1px solid var(--border-color, #ff0070);
    border-block-start: 1px solid var(--border-color, #ff0070);
    inset-inline-end: 0;
    inset-block-start: 10px;
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
}


.decorated-zone::after {
    border-inline-start: 1px solid var(--border-color, #ff0070);
    border-block-end: 1px solid var(--border-color, #ff0070);
    inset-inline-start: 0;
    inset-block-end: 10px;
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
}

.title-decor {
    color: var(--text-color-words, #000028);
    background-color: var(--accent-color, #FF0070);
    font-size: var(--font-size, 1.125rem);
    line-height: 23.4px;
}

@media (width >=768px) {
    .decorated-zone::after {
        inset-block-end: 20px;
        inset-inline-start: 20px;
    }

    /*footer .decorated-zone::before {*/
    /*    inset-inline-end: 20px;*/
    /*}*/
    .footer .decorated-zone::before {
        inset-inline-end: 20px;
    }

    .decorated-zone::before {
        inset-block-start: 20px;
    }
    .decorated-zone {
        position: relative;
        min-block-size: 96vh;
    }
}

@media (width >= 1024px) {
    .decorated-zone {
        min-block-size: 94.8vh;
    }
}