.header__footer {
    justify-self: center;
    align-self: center;
}

footer {
    display: grid;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline: 10px;
    min-block-size: 97vh;
}

@media (width >= 768px) {
    footer {
        margin-block-start: 20px;
        margin-inline: 0;
        min-block-size: 984px;
        margin-block-end: 20px;
        margin-inline-end: 20px;
    }
}