.page {
    --bg-image-dark: url(../images/cover-image-dark.png);
    --bg-image-light: url(../images/cover-image-light.png);

    background-color: var(--bg-color, #000028);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--accent-color, #FF0070);
    padding: 10px;
    position: relative;
    font-family: "IBM Plex mono", sans-serif;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: end;
    block-size: 100vh;
    max-height: 668px;
    margin-block-end: 40px;
}

.header__decorative-rec::before {
    position: absolute;
    content: "REC";
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    top: 10px;
    right: 38px;
}

.header__decorative-rec::after {
    position: absolute;
    content: "";
    background-color: var(--accent-color, #FF0070);
    border-radius: 50%;
    height: 11px;
    width: 11px;
    filter: blur(1.3px);
    top: 18px;
    right: 19px;
}

.header__theme-menu {
    align-self: center;
    justify-self: end;
    grid-row: 1;
    margin-block-end: 65px;
    margin-block-start: 65px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.header__theme-menu-button {
    border: none;
    background-color: transparent;
}

.header__theme-menu-button:hover {
    border: rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
    border-bottom: var(--accent-color, #FF0070);
}

.header__theme-menu-button_active {
    border: 1px solid var(--accent-color, #FF0070);
}

.header__title {
    grid-row: 2;
    align-self: center;
    justify-self: center;
    margin-block-end: 55px;
}

.decorate__text {
    color: #DB00FF;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 83%;
    text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__description {
    grid-row: 3;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
    color: var(--text-color-dark, #000028);
    margin-block-end: 66px;
}

.title-decor{
    color: var(--text-color-dark, #000028);
    background-color: var(--accent-color, #FF0070);
    font-size: 18px;
    line-height: 24.3px;
}

.section__articles-subtitle-mini {
    font-weight: 400;
}

.section__articles-subtitle-max {
    font-weight: 700;
}

.section__articles-description {
    color: var(--text-color-light, #F1B2CE);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}

.section__article-link {
    text-shadow: 2px 2px 2px var(--accent-color, #FF0070);
    color: var(--text-color-light, #F1B2CE);
    text-decoration: none;
}

.section {
    margin-block-start: 50px ;
}

.section__articles-title {
    /*margin-block-end: 20px ;*/
}

.section__articles-subtitle {
    margin-block-end: 10px;
    margin-block-start: 20px;
}

.section__articles-subtitle-text {
    margin-block-end: 0;
}

.section__gallery-list {
    display: grid;
    gap: 10px;
    grid-template-rows: 8.86rem 22.19rem 14.8rem 22.19rem 14.8rem;
}

.section__gallery-img {
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
}

.header__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    block-size: 100vh;
    max-height: 668px;
}
