.page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--accent-color, #FF0070);
    /*padding: 10px;*/
    position: relative;
    font-family: "IBM Plex mono", sans-serif;
    display: grid;
    gap: 40px;
    background-image: var(--bg-image);

}


@media (width >=768px) {
    .page {
        padding: 20px;
    }
}